language: ruby
rvm:
  - 2.2
before_script:
  - gem install awesome_bot
script:
  - awesome_bot README.md --allow-redirect --white-list golang-book,gopl.io,0636920046516,manning.com/books/learn-go,jannewmarch,codegangsta,creativecommons,gobyexample
